{% extends "base.html" %}
{% block maincontent %}
    {% if post_list %}
        <div class="articles">
        {% for post in post_list %}
            <article>
                <header>
                    <h1>{{ post.title }}</h1>
                    </p>
                </header>
                <section>
                    {{ post.content }}
                </section>
            </article>
        {% endfor %}
        </div>
    {% else %}
        <p>No posts are available.</p>
    {% endif %}
{% endblock %}